FIREBASE_DATABASE_URL=''
NATURE_REMO_MONITOR_2_SIGNAL_ID=''
NATURE_REMO_MONITOR_1_SIGNAL_ID=''
HOLIDAY_API_URL=''
HOLIDAY_API_AUTHORIZATION=''
NATURE_REMO_MORNING_SIGNAL_ID=''
NOTIFIER_URL=''
SESAME_1_DEVICE_ID=''
SESAME_1_SECRET=''
SESAME_2_DEVICE_ID=''
SESAME_2_SECRET=''
NATURE_REMO_AUTHORIZATION=''
SWITCHBOT_TOKEN=''
SWITCHBOT_SECRET=''
SWITCHBOT_CURTAIN_DEVICE_ID=''
SESAME_HISTORY_LABEL=''
SESAME_API_KEY=''
HOLIDAY_NOTIFICATION_VOLUME=''
HOLIDAY_NOTIFICATION_TYPE=''
HOLIDAY_NOTIFICATION_HOLIDAY_TEXT=''
HOLIDAY_NOTIFICATION_WORKDAY_TEXT=''
PC_SWITCH_SCRIPT_PATH=''
PC_SWITCH_DEVICE_ID=''
